<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>HyperNews Portal</title>
</head>
<body>
    <h2>Hyper news</h2>
    {% for elements in value %}
            <h4>{{ elements.date }}</h4>
            <ul>
            {% for n in elements.values %}
                <li><a href="/news/{{ n.link }}/">{{ n.title }}</a></li>
            {% endfor %}
            </ul>
    {% endfor %}
    <form action="/news/" method="get">{% csrf_token %}
        <label for="q">Query: </label>
        <input id="q" type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <a href="/news/create/"></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>